/* Fonts */

/* Colours */
/* #05140b #104728=Nav bars+footers #9EB0A2 #004565=buttons #99AEBB #cde9fa = Light on dark blue */

/* Nav */
.navbar-brand {
    font-family: 'Oswald';
    font-size: larger;
}

.custom-nav {
    background-color: #104728;
    color: #9EB0A2;
}

.custom-nav a {
    color: #9EB0A2;
}

/* Contact Form */
.cf-container {
    padding: 10em 20em 10em 20em;
}

h2 {
    color: #104728;
}

.submit-btn {
    background-color: #004565;
    color: #cde9fa;
    border-radius: 10px;
    border: none;
    padding: 0.5em 1em 0.5em 1em;

}

/* Footer */
.ft-background {
    background-color: #104728;
}