/* Variables */
.btn-primary {
    --bs-btn-bg: #004565 !important;
    --bs-btn-border-color: #004565 !important;
    --bs-btn-color: #cde9fa !important;
    --bs-btn-hover-bg: #99AEBB !important;
    --bs-btn-hover-border-color: #99AEBB !important;
    --bs-btn-hover-color: #004565 !important;
}

/* Colours */
/* #05140b #104728=Nav bars+footers #9EB0A2 #004565=buttons #99AEBB #cde9fa = Light on dark blue */

/* Nav */
.favicon {
    margin-left: 2em;
}

.navbar-brand {
    font-family: 'Oswald';
    font-size: larger;
}

.custom-nav {
    background-color: #104728;
    color: #9EB0A2;
}

.custom-nav a:hover {
    background-color: #9EB0A2;
    color: #104728;
    border-radius: 3px;
}

.custom-nav a {
    color: #9EB0A2;
}

/* Title */
.webTitle {
    font-weight: 700;
    font-size: 5em;
    color: #104728;
    margin-top: 2em;
}

.webSubtitle {
    font-style: italic;
    font-size: 1.7em;
    color: #9EB0A2;
    margin-bottom: 2em;
}

/* Body */
.h2Header {
    padding-top: 3em;
}

.headingLine {
    border-top: solid 5px #104728;
    padding-bottom: 2em;
}

.moreArticlesButton {
    margin-top: 3em;
    --bs-btn-bg: #004565 !important;
    --bs-btn-border-color: #004565 !important;
    --bs-btn-color: #cde9fa !important;
    --bs-btn-hover-bg: #99AEBB !important;
    --bs-btn-hover-border-color: #99AEBB !important;
    --bs-btn-hover-color: #004565 !important;
}


/* Contact Form */
.cf-container {
    padding: 5em 1em 5em 1em;
}

h2 {
    color: #104728;
}

.submit-btn {
    background-color: #004565;
    color: #cde9fa;
    border-radius: 10px;
    border: none;
    padding: 0.5em 1em 0.5em 1em;

}
.log-btn {
    background-color: #004565;
    color: #cde9fa;
    border-radius: 10px;
    border: none;
    padding: 0.10em 1em 0.5em 1em;

}

/* Footer */
.ft-background {
    background-color: #104728;
}
